<footer>
  <div class="foot-container">
    <p class="title-footer">Pizza a Tutto Tondo</p>
    <!-- <p> Ricordiamo che il sito è stato realizzato da 4 studenti dell'Università di Padova come progetto per l'insegnamento di Tecnoogie Web.
      Ci scusiamo se ne risulta in qualche modo difficile l'utilizzo o se riscontrate problemi di qualsiasi tipo.
      A questo scopo ci teniamo che ce lo facciate sapere contattatondoci con una email a <strong>pizzatuttotondo@gmail.com</strong> .
    </p> -->
    <p>Grazie per aver visitato il nostro sito!</p>
  </div>
  <div class="foot-bottom">
    <p>Copyright &copy; 2021 Pizza a Tutto Tondo</p>
  </div>
</footer>