<!-- TODO: cambiare questo file placeholder -->
<header>
  <img src="../../imgs/logo.jpg" alt="Pizza a tutto tondo">
  <input type="checkbox" id="main-navigation-toggle" />
  <label for="main-navigation-toggle" title="Vai al menu">
    <span></span>
  </label>

  <nav id="main-navigation">
    <ul>
      <li><a href="./home.php">Home</a></li>
      <!-- <li class="dropdown"> Pizze
        <ul> -->
      <li class="pizza" id="napoletana"><a href="#">Pizza Napoletana</a></li>
      <li class="pizza" id="teglia"><a href="#">Pizza in teglia</a></li>
      <li class="pizza" id="tonda"><a href="#">Pizza tonda</a></li>
      <!-- </ul>
      </li> -->
      <li><a href="./ricette.php">Scopri i gusti</a></li>
      <li><a href="./calcolatore.php">Calcola Pizza</a></li>
      <li><a href="./contactus.php">Contatti</a></li>
      <li><a href="./login_register.php">Accedi</a></li>
    </ul>
  </nav>
</header>