<!-- TODO: cambiare questo file placeholder -->
<header>
  <a class="sr-only" href="#content">Salta il menu</a>
  <img src="../../imgs/logo.jpg" alt="Pizza a tutto tondo">
  <input type="checkbox" id="main-navigation-toggle" />
  <label for="main-navigation-toggle" title="Vai al menu">
    <span></span>
  </label>

  <nav id="main-navigation">
    <ul>
      <li class="active"><a href="./home.php">Home</a></li>
      <li class="pizza" id="napoletana"><a href="./napoletana.php">Pizza Napoletana</a></li>
      <li class="pizza" id="teglia"><a href="#">Pizza in teglia</a></li>
      <li class="pizza" id="tonda"><a href="#">Pizza tonda</a></li>
      <li><a href="./ricette.php">Scopri i gusti</a></li>
      <li><a href="./calcolatore.php">Calcola Pizza</a></li>
      <li><a href="./contactus.php">Contatti</a></li>
      <placeholder_log />
      <placeholder_reg />
    </ul>
  </nav>
</header>
