<header>
  <a class="sr-only" href="#content">Salta il menu</a>
  <img id="logo" src="../../imgs/logo.jpg" alt="Pizza a tutto tondo">
  <input type="checkbox" id="main-navigation-toggle" />
  <label for="main-navigation-toggle" title="Vai al menu">
    <span></span>
  </label>

  <nav id="main-navigation">
    <ul>
      <li class="active"><a href="/Pizza_a_Tutto_Tondo/pages/php/home.php">Home</a></li>
      <li class="pizza" id="napoletana"><a href="/Pizza_a_Tutto_Tondo/pages/php/napoletana.php">Pizza Napoletana</a></li>
      <li class="pizza" id="teglia"><a href="#">Pizza in teglia</a></li>
      <li class="pizza" id="tonda"><a href="#">Pizza tonda</a></li>
      <li><a href="/Pizza_a_Tutto_Tondo/pages/php/ricette.php">Scopri i gusti</a></li>
      <li><a href="/Pizza_a_Tutto_Tondo/pages/php/calcolatore.php">Calcola Pizza</a></li>
      <li><a href="/Pizza_a_Tutto_Tondo/pages/php/contactus.php">Contatti</a></li>
      <placeholder_log />
      <placeholder_reg />
    </ul>
  </nav>
</header>
