<header>
  <input type="checkbox" id="main-navigation-toggle" />
  <label for="main-navigation-toggle" title="Vai al menu">
    <span></span>
  </label>

  <nav id="main-navigation">
    <ul>
      <li class="pizza" id="napoletana"><a href="#">Pizza Napoletana</a></li>
      <li class="pizza" id="teglia"><a href="#">Pizza in teglia</a></li>
      <li class="pizza" id="tonda"><a href="#">Pizza tonda</a></li>
      <li id="other-links">
        <ul class="vertical">
          <placeholder_log />
          <placeholder_reg />
          <li><a href="./calcolatore.php">Calcola Pizza</a></li>
          <li><a href="./ricette.php">Scopri i gusti</a></li>
          <li><a href="./contactus.php">Contatti</a></li>
        </ul>
      </li>
    </ul>
  </nav>
</header>
<!-- <li><a href="./profile_page.php">Pagina profilo</a></li>
<li><a href="../../scripts/php/logout.php">Log out</a></li>
<li><a href="./signup.php">Registrati</a></li>
<li><a href="./login.php">Accedi</a></li> -->
