<article class="card-ricetta">
  <img class="image" src="../../imgs/ricette/<placeholder_sql_ricetta_immagine />" alt="Foto di una pizza <placeholder_sql_ricetta_nome />" />
  <div class="content">
    <p class="author">
      <placeholder_sql_ricetta_autore />
    </p>
    <h2 class="titolo">
      <placeholder_sql_ricetta_nome />
    </h2>
    <ul class="tags">
      <li>
        <placeholder_sql_ricetta_tipo />
      </li>
      <placeholder_sql_ricetta_vegetariana_tag />
    </ul>
    <!-- <p class="ingredienti">INGREDIENTI:</p> -->
    <ul class="ingredienti" aria-label="Lista ingredienti">
      <placeholder_sql_ricetta_ingredienti />
    </ul>
  </div>
  <section class="footer">
    <span class="likes">
      <placeholder_sql_likes /> Like
    </span>
    <a class="scopri" href="./ricetta.php?id=<placeholder_sql_ricetta_id />">Scopri Pizza:
      <placeholder_sql_ricetta_nome /></a>
  </section>
</article>