<article class="commento">
  <p class="data" aria-label="Data commento">
    <placeholder_sql_ricetta_commento_dataora />
  </p>
  <p class="author" aria-label="Autore commento">
    <placeholder_sql_ricetta_commento_username />
  </p>
  <p class="text">
    <placeholder_sql_ricetta_commento_contenuto />
  </p>
  <form class="elimina" method="POST" action="../../scripts/php/handle_like_commenti.php">
    <input type="hidden" name="commento_id" value="<placeholder_sql_ricetta_commento_id />">
    <button type="submit" name='elimina_commento' class="elimina">Elimina</button>
  </form>
</article>