<article class="card-ricetta">
  <img class="card-ricetta-image" src="../../imgs/ricette/<placeholder_sql_ricetta_immagine />" alt="Foto di una pizza <placeholder_sql_ricetta_nome />" />
  <div class="card-ricetta-content">
    <h2 class="ricette-titolo"><placeholder_sql_ricetta_nome /></h2>
    <p class="ricette-text"><placeholder_sql_ricetta_autore /></p>
    <ul class="ricette-tags">
      <li class="ricetta-tag-pizza"><placeholder_sql_ricetta_tipo /></li>
      <placeholder_sql_ricetta_vegetariana_tag />
    </ul>
    <p class="ricette-text-ingredienti">INGREDIENTI:</p>
    <ul class="ricette-text-container">
      <placeholder_sql_ricetta_ingredienti />
    </ul>
  </div>
  <footer>
    <span class="ricette-likes"><placeholder_sql_likes /> Like </span>
    <a class="card-ricette-scopri" href="./ricetta.php?id=<placeholder_sql_ricetta_id />">Scopri Pizza: <placeholder_sql_ricetta_nome /></a>
  </footer>
</article>