<article class="card-ricetta">
  <img class="card-ricetta-image" src="../../imgs/ricette_quattro_formaggi.jpg" alt="Foto di una pizza quattro formaggi" />
  <div class="card-ricetta-content">
    <h2 class="ricette-titolo"><placeholder_sql_ricetta_nome /></h2>
    <p class="ricette-text"><placeholder_sql_ricetta_autore /></p>
    <ul class="ricette-tags">
      <li class="ricetta-tag-pizza"><placeholder_sql_ricetta_tipo /></li>
      <li class="ricetta-tag-vegetariana"><placeholder_sql_ricetta_is_vegan /></li>
    </ul>
    <p class="ricette-text-ingredienti">INGREDIENTI:</p>
    <ul class="ricette-text-container">
      <li class="ricette-ingredienti"><placeholder_sql_ricetta_ingredienti /></li>
    </ul>
  </div>
  <footer>
    <span class="ricette-likes"><placeholder_sql_likes /> Likes </span>
    <a class="card-ricette-scopri" href="./ricetta.php">Scopri</a>
  </footer>
</article>