* {
  font-family: "Open Sans", sans-serif;
}

html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  background-color: #f8f8f8;
}

main {
  height: 100%;
}

/*** START NAVIGATION ***/

/* START MENU-BUTTON */
#main-navigation-toggle:checked ~ nav {
  left: 0;
}

#main-navigation-toggle {
  opacity: 0;
  position: fixed;
  top: -100%;
}

#main-navigation-toggle ~ label {
  cursor: pointer;
  position: fixed;
  right: 1rem;
  top: 1rem;
  z-index: 100;
  background-color: white;
}

#main-navigation-toggle ~ label span {
  display: block;
  height: 2rem;
  padding: 0.5rem;
  position: relative;
  transition: transform calc(var(--td) * 3) var(--te);
  width: 2rem;
}

#main-navigation-toggle ~ label span::before,
#main-navigation-toggle ~ label span::after {
  background-color: #000;
  bottom: 0;
  content: "";
  height: 4px;
  margin: auto;
  position: absolute; /* DA MODIFICARE QUANDO CI SARA' L'HEADER */
  left: 0; /* DA MODIFICARE QUANDO CI SARA' L'HEADER */
  right: 0; /* DA MODIFICARE QUANDO CI SARA' L'HEADER */
  top: 0; /* DA MODIFICARE QUANDO CI SARA' L'HEADER */
  width: calc(100% - 1em);
  transition: all 0.3s;
}

#main-navigation-toggle ~ label span::before {
  transform: rotate(0) translateY(-100%);
}

#main-navigation-toggle ~ label span::after {
  transform: rotate(0) translateY(100%);
}

#main-navigation-toggle:checked ~ label span::before {
  transform: rotate(45deg);
}

#main-navigation-toggle:checked ~ label span::after {
  transform: rotate(-45deg);
}
/* END MENU-BUTTON */

nav#main-navigation {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  left: -100%;
  z-index: 99;
  transition: all 0.3s ease-in-out;
}

nav#main-navigation ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
  height: 100%;
  list-style: none;
}

/* START LINK-PIZZA*/
nav#main-navigation ul li {
  display: flex;
  background-color: #e2e2e2;
  flex: 1 0 20%;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
}

li.pizza {
  background-position: center;
  background-size: cover;
  filter: grayscale(0.3);
  transition: all 0.3s;
}

li.pizza:hover {
  filter: grayscale(0);
}

#napoletana {
  background-image: url(pizza_napoletana.jpg);
}

#teglia {
  background-image: url(pizza_teglia_min.jpg);
}

#tonda {
  background-image: url(pizza_tonda_min.jpeg);
}

nav#main-navigation ul li a {
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 4px;
  display: block;
  text-align: center;
  font-size: 2em;
  padding: 1em;
  margin: 0.2em;

  background-color: white;
}
/* END LINK-PIZZA */

/* START OTHER-LINKS */
li#other-links {
  flex: 1 1 10%;
}

nav#main-navigation ul.vertical {
  width: 100%;
}

nav#main-navigation ul.vertical li {
  display: flex;
  background-color: #fff5db;
  flex: 1 1 100%;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
}

nav#main-navigation ul.vertical li:hover {
  background-color: #fff1c5;
}

nav#main-navigation ul.vertical li a {
  background-color: #ffe59d;
  font-size: 1em;
  font-weight: 700;
}
/* END OTHER-LINKS */

/* START MOBILE */
@media (max-width: 767px) {
  nav#main-navigation ul li {
    flex: 1 1 100%;
  }

  nav#main-navigation ul li a {
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 1.2em;
  }
  nav#main-navigation ul.vertical li a {
    font-size: 0.8em;
  }
}
/* END MOBILE */

/* START TABLET */
@media (min-width: 768px) and (max-width: 1280px) {
  nav#main-navigation ul li a {
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 1.2em;
  }
  nav#main-navigation ul.vertical li a {
    font-size: 0.8em;
  }
}
/* END TABLET */

/*** END NAVIGATION ***/
